<h1>Edit <%= "#{@user.full_name}" %></h1>
<p>Current info is "<%= "#{@user.full_name}, #{@user.age}, #{@user.gender}, #{@user.alive ? "living" :"dead"}" %>"</p>

<h2>Enter updated information here</h2>
<p>
<%= form_for @user do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :gender %>
  <%= f.text_field :gender %>

  <%= f.label :alive %>
  <%= f.check_box :alive %>

  <%= f.submit %>
<% end %>
</p>
<h3><%= link_to 'Back to users', users_path %></h3>
